<div class="col-12 homecarousel">
  <div class="slider"
       [ngStyle]="{width: slides.length*100+'%',
                    left: '-'+100*indexActual+'%'}">
    <div class="slide" *ngFor="let slide of slides"
         [ngStyle]="{width: 100/this.slides.length+'%'}">
      <div class="main-text mx-auto" [innerHTML]="slide.maintitle">
      </div>

      <div class="sub-text mx-auto" [innerHTML]="slide.subtitle">
      </div>
      <a class="btn-carousel mx-auto" [href]="slide.buttonlink">
        <span>{{slide.button}}</span>
      </a>
    </div>

  </div>
  <div class="controller">
    <div class="arrow left-arrow" (click)="previousSlide()">
      <i class="fas fa-chevron-left"></i>
    </div>
    <div class="arrow right-arrow" (click)="nextSlide()">
      <i class="fas fa-chevron-right"></i>
    </div>
  </div>
  <div class="bullets-group">
    <div *ngFor="let item of slides; index as i"
         class="bullet"
         [ngClass]="{'bullet-active': i===indexActual}">
    </div>
  </div>
</div>
