<div class="content container">

  <!-- Profile Section -->
  <div class="profile-section container-fluid">
    <div class="container">
      <img src="{{ user.img}} " class="profile-photo">
      <p class="profile-name"> {{ user.name }}</p>
      <p class="profile-detail">{{ user.description }}</p>
      <button class="button profile-follow btn">Follow</button>
    </div>
  </div>

  <!-- Detail Section -->
  <div class="detail-section container-fluid">
    <div class="container col-md-auto">

      <div class="card">
        <div class="container col-md-auto">
          <div class="card-title">Musique</div>
          <div class="card-body">
            <div class="container-fluid">
                <app-music-list [musics]="music"></app-music-list>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
