<div class="contentprofile">
  <div class="row info-user">
    <div class="col-1">
      <div [ngStyle]="{'background-image': 'url('+user.img+')'} " class="profile-photo">
      </div>
    </div>
    <div class="col-11">
      <p class="profile-name"> {{ user.name }}</p>
      <p class="profile-detail">{{ user.description }}</p>
    </div>
  </div>
  <div class="container col-md-auto">
    <div class="card-title">Songs</div>
    <div class="card-body">
      <div class="container-fluid">
        <app-music-list [musics]="music"></app-music-list>
      </div>
    </div>
  </div>

</div>

