.left-bar {
  background-color: #16161a;
  height: 100%;
  margin-left: 0;
  padding-left: 35px;
}

.logo-container, .user-container, .music-container {
  margin-top: 40px;
}

.left-bar {
  color: white;
}

.left-bar .clickable {
  font-size: 21px;
  padding: 5px 5px;

}

.left-bar .clickable:hover {
  background: #2d2d2d;
  cursor: pointer;
}

.active{
  background: #2d2d2d;

}
