<nav class="navbar fixed-top navbar-light justify-content-between Header-background  w-100">
    <a class="navbar-brand" >
      <img alt="" src="../../assets/img/wavein_logo_n_white.png" class="wavein_logo_n_white">
    </a>


  <form class="form-inline">

    <div class="text-white mr-4">|</div>

    <div *ngIf="!connected">
      <a class=" text-white my-2 my-sm-0 mr-3 d-inline" href="Signin" data-toggle="modal" routerLink="/signin">
        Signin
      </a>
      <a class=" btn my-2 my-sm-0 RectangleBordure d-inline" href="Signup" data-toggle="modal" routerLink="/signup">
        Signup
      </a>
    </div>
    <div class="name"  *ngIf="connected">
      Bonjour {{user.name}}
    </div>
  </form>
</nav>
